node_modules/
.pnp
.pnp.*
*.lcov
.next/
.env
logs/
*.log
.vscode/
*.db
.cache/
.eslintcache
.stylelintcache
*.tmp
*.temp
.tmp/
.temp/
.npm
.node_repl_history
*.tsbuildinfo
.capacitor/
.vite/
*.local

# Android / IDE
.idea/
android/.idea/

# Node
node_modules/

# pnpm (ถ้าไม่บังคับ)
pnpm-lock.yaml
